#container{
    height: 600px;
    width:80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
}
h1{
    text-align: center;
}
#org{
    align-self: flex-end;
    flex-basis: 50px;
    flex-grow: 1;
    flex-shrink: 1;
}
#blue{
    flex-basis: 300px;
    flex-grow: 3;
    flex-shrink: 1;
}
#container div{
    height:100px;
    width:300px;
    color:white;
    text-align: center;
}